/AgregarArea.pyc
/AgregarAreaW.pyc
/AgregarCausaFalta.pyc
/AgregarClasificacion.pyc
/AgregarColonia.pyc
/AgregarCurso.pyc
/AgregarDonador.pyc
/AgregarEscuela.pyc
/AgregarPersona.pyc
/AgregarPersonaCurso.pyc
/AgregarPuesto.pyc
/AgregarViaDonacion.pyc
/Cursos.pyc
/EscojerCurso.pyc
/Inicio.pyc
/Principal.pyc
